.dark-text,
.light-text {
  display: inline-block;
  margin-right: 10px;
}

.dark-text {
  color: #11304c !important;
  font-weight: bold;
}

.light-text {
  color: #333;
  font-weight: 400 !important;
}
.carousel-item:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
}
.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #11304c !important;
}

.page-content {
  font-size: 18px;
  line-height: 1.2;
  color: #11304c;
  font-weight: 500 !important;
}

.productTitle {
  font-size: 50px !important;
  color: #18a1a4 !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}
.productSubtitle {
  color: "white";
  opacity: 0.8;
  margin-top: "1rem";
  margin-bottom: "3rem";
}
