.dark-text,
.light-text {
  display: inline-block;
  margin-right: 10px;
}

.dark-text {
  color: #11304c !important;
  font-weight: bold;
}

.light-text {
  color: #333;
  font-weight: 400 !important;
}
.dark-text-info {
  color: #11304c !important;
  font-size: 20px;
}
.carousel-item {
  border-radius: 20px !important;
}
.carousel-item:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px !important;
}
.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #11304c !important;
}
.page-title-about {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #11304c !important;
}
.page-content {
  font-size: 16px;
  line-height: 1.3;
  color: #8a95a7;
  font-weight: 400 !important;
  justify-content: start !important;
  align-items: start !important;
  text-align: start !important;
  padding: 3px;
}
.page-content-about {
  font-size: 22px;
  line-height: 1.2;
  color: #1a212c;
  font-weight: 500 !important;
  font-family: sans-serif !important;
}

.productTitle {
  font-size: 35px !important;
  color: #18a1a4 !important;
  font-weight: 550 !important;
  font-family: sans-serif !important;
}
.productSubtitle {
  color: "white";
  opacity: 0.8;
  margin-top: "1rem";
  margin-bottom: "3rem";
}
.product-card-left {
  animation: product-animation-left 1s ease-in-out both;
}
.about-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
@keyframes product-animation-left {
  0% {
    opacity: 0.3;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(60px);
  }
}
.product-card-right {
  animation: product-animation-right 1s ease-in-out both;
}

@keyframes product-animation-right {
  0% {
    opacity: 0.3;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(70px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-container {
  animation: slideIn 1s ease forwards;
}

.custom-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.custom-table td,
.custom-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.custom-table tr:nth-child(even) {
  background-color: #ffffff;
}

.kurumsal {
  width: 1600px !important;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.kurumsal-grid {
  padding: 80px 50px 80px 50px;
}

.home-card-left {
  animation: home-animation-left 1s ease-in-out both;
}
.about-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
@keyframes home-animation-left {
  0% {
    opacity: 0.3;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(-280px);
  }
}
.home-card-right {
  animation: home-animation-right 1s ease-in-out both;
}

@keyframes home-animation-right {
  0% {
    opacity: 0.3;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-20px);
  }
}
