.video-card {
  animation: card-animation 1s !important;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes card-animation {
  0% {
    opacity: 0.3;
    /* transform: translateY(10px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.custom-carousel {
  animation: card-animation 1s !important;
  z-index: 2;
}
.image-transition {
  animation: card-animation 1s !important;
}
.div-background {
  background-image: url("assets/images/dashboard/perfect-healthy-teeth-smile-young-woman.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed; /* "fixed" tırnak içinde olmamalı */
  background-size: "250%"; /* "cover" tırnak içinde olmamalı */
  background-position: center; /* "center" tırnak içinde olmamalı */
}
@keyframes changeBackgroundColor {
  0% {
    background: linear-gradient(90deg, #344767, #f8f9ff); /* #344767 to #F8F9FF */
    transition: 0.5s;
  }
  25% {
    background: linear-gradient(90deg, #f8f9ff, #64b0b4); /* #F8F9FF to #64B0B4 */
    transition: 0.5s;
  }
  50% {
    background: linear-gradient(90deg, #64b0b4, #344761); /* #64B0B4 to #18A1A4 */
    transition: 0.5s;
  }
  75% {
    background: linear-gradient(90deg, #18a1a4, #344767); /* #18A1A4 to #344767 */
    transition: 0.5s;
  }
  100% {
    background: linear-gradient(90deg, #344767, #f8f9ff); /* #344767 to #F8F9FF */
    transition: 0.5s;
  }
}

.kategoriler-carousel {
  color: #fff;
  background: linear-gradient(-45deg, #18a1a4, #344767, #344767, #f8f9ff, #64b0b4);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
} */

.etkinlik-carousel {
  color: #fff;
  background: linear-gradient(-45deg, #e0f4ff, #f8f9ff, #e3f4f4);
  background-size: 400% 400%;
  -webkit-animation: gradient1 15s ease infinite;
  -moz-animation: gradient1 15s ease infinite;
  animation: gradient1 15s ease infinite !important;
}
/* 
@-webkit-keyframes Gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
