.card-hover {
  transition: transform 0.3s ease !important;
  opacity: 0.6 !important;
}

.card-hover:hover {
  transform: scale(1.1) !important;
  cursor: pointer !important;
  opacity: 1 !important;
}

.custom-carousel .MuiCarouselIndicators-root {
  display: none !important;
}

.custom-carousel .MuiButtonBase-root.MuiIconButton-root {
  display: none !important;
}
.custom-particles {
  /* height: 1850px !important;  */
  overflow: hidden;
}

@keyframes card-animation {
  0% {
    opacity: 0.3;
    /* transform: translateY(10px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.custom-carousel {
  animation: card-animation 1s !important;
  z-index: 2 !important;
}
.image-transition {
  animation: card-animation 1s !important;
}

.kategoriler-carousel {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #18a1a4, #344767, #344767, #f8f9ff, #64b0b4);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.etkinlik-carousel {
  color: #fff !important;
  background: linear-gradient(-45deg, #e0f4ff, #f8f9ff, #e3f4f4) !important;
  background-size: 400% 400% !important;
  -webkit-animation: gradient1 15s ease infinite !important;
  -moz-animation: gradient1 15s ease infinite !important;
  animation: gradient1 15s ease infinite !important;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.dark-text,
.light-text {
  display: inline-block !important;
  margin-right: 10px !important;
}

.dark-text {
  color: #11304c !important;
  font-weight: bold !important;
}

.light-text {
  color: #333 !important;
  font-weight: 400 !important;
}
.dark-text-info {
  color: #11304c !important;
  font-size: 22px !important;
}
.carousel-item {
  border-radius: 20px !important !important;
}
.carousel-item:hover {
  transform: scale(1.4) !important;
  transition: transform 0.3s ease-in-out !important;
  border-radius: 20px !important;
}
.page-title {
  font-size: 24px !important;
  font-weight: 600 !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  color: #11304c !important;
}
.page-title-about {
  font-size: 32px !important;
  font-weight: bold !important;
  /* margin-bottom: 20px !important;
  margin-top: 20px !important; */
  margin: 0 0 20px;
  color: #11304c !important;
  font-family: "YoungSerif" !important;
}
.page-content {
  font-size: 16px !important;
  line-height: 1.5 !important;
  margin: 0 0 20px;
  color: #8a95a7 !important;
  font-weight: 400 !important;
  justify-content: start !important;
  align-items: start !important;
  text-align: start !important;
  padding: 3px !important;
}
.page-content-about {
  font-size: 20px !important;
  line-height: 1.5 !important;
  /* color: #1a212c !important; */
  color: #11304c !important;
  /* font-weight: 500 !important; */
  padding: 3px !important;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.productTitle {
  font-size: 35px !important;
  color: #18a1a4 !important;
  font-weight: 550 !important;
  font-family: sans-serif !important;
}
.productSubtitle {
  color: "white" !important;
  opacity: 0.8 !important;
  margin-top: "1rem" !important;
  margin-bottom: "3rem" !important;
}
.product-card-left {
  animation: product-animation-left 1s ease-in-out both;
}
.about-image {
  width: 100% !important;
  height: auto !important;
  border-radius: 15px !important;
}
@keyframes product-animation-left {
  0% {
    opacity: 0.3;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.product-card-right {
  animation: product-animation-right 1s ease-in-out both !important;
}

@keyframes product-animation-right {
  0% {
    opacity: 0.3;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-container {
  animation: slideIn 1s ease forwards !important;
}

.custom-table {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 100% !important;
}

.custom-table td,
.custom-table th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 8px !important;
}

.custom-table tr:nth-child(even) {
  background-color: #ffffff !important;
}

.kurumsal {
  width: 1600px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.05) !important;
  border-radius: 15px !important;
}

.kurumsal-grid {
  padding: 80px 50px 80px 50px !important;
}

.home-card-left {
  animation: home-animation-left 1s ease-in-out both !important;
}
.about-image {
  width: 100% !important;
  height: auto !important;
  border-radius: 15px !important;
}
@keyframes home-animation-left {
  0% {
    opacity: 0.3;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(-80px);
  }
}
.home-card-right {
  animation: home-animation-right 1s ease-in-out both !important;
}

@keyframes home-animation-right {
  0% {
    opacity: 0.3;
    transform: translateX(-110px);
  }
  100% {
    opacity: 1;
    transform: translateX(-80px);
  }
}
