.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .custom-carousel .MuiCarouselIndicators-root {
  display: none !important;
}

.custom-carousel .MuiButtonBase-root.MuiIconButton-root {
  display: none !important;
} */




